build/
dist/
*.egg-info
__pycache__/
.coverage
htmlcov/
*.log
*.vscode
*.ipynb-checkpoints/*
rejected_article_tracker/src/ML/notebooks/.ipynb_checkpoints/modeling*
*modeling.ipynb*
*arxiv_tmp.csv*
output.xlsx
