
# misc
build/
dist/
*.egg-info
__pycache__/
.coverage
htmlcov/
*.log
*.vscode*
*.ipynb-checkpoints/*

# ML playground
rejected_article_tracker/src/ML/notebooks/.ipynb_checkpoints/modeling*
*modeling.ipynb*
arxiv_data_experiments.ipynb


# data files
*arxiv_tmp.csv*
output.xlsx
20200916-medRxiv_analysis.xlsx
resultdf.csv
testdf.csv

# uncommitted models
lr_model_new